body{
    margin:0;
    padding: 0;
    /* background: url(/images/grassBackground.jpg); */
    background-image:url("/images/pexels-julia-m-cameron-6995301.jpg"); 
    /* background-image:url("/images/blue-bg.jpg");  */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width: 820px;
    height: 520px;
    /* background-color: rgba(0, 0, 0, 0.658); */
    background-color: white;
    /* color: #fff; */
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.loginbox .login-btn{
    cursor: pointer;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;   
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type = "password"]
{
    border: none;
    /* border-bottom: 1px solid #fff; */
    border-bottom: 1px solid gold;
    background: transparent;
    outline: none;
    height: 40px;
    /* color: #fff; */
    color: black;
    font-size: 16px;
}

.loginbox input[type = "submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox [input = "submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover
{
    color: #ffc107;
}
button{
    background-color: #fb2525;
    padding: 5px;
    margin: auto;
    height: 30px;
    width: 342px;
    border-radius:11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    color: white;
   
    
}
button:hover{
    background-color: #f10909;
}

